<header class="header">
  <div class="container grid">
    <a class="logo header__logo">SneakMax</a>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="" class="nav__link">Подбор товаров</a></li>
          <li class="nav__item"><a href="" class="nav__link">Наша команда</a></li>
          <li class="nav__item"><a href="" class="nav__link">Доставка и оплата</a></li>
          <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <button class="btn-reset cart header__cart">
        <svg>
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <div class="cart__count">1</div>
      </button>
    </div>
  </div>
</header>
